@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import "../public/css/navbar.css";
@import "../public/css/about.css";

:root {
  --title-color: #66b2ff;
  --text-color: #ffffff;
  --button-color: #3d9970;
  --button-hover-color: rgba(61, 153, 112, 0.9);
  font-family: "Fredoka", sans-serif !important;
}

.title {
  color: var(--title-color);
}

.text {
  color: var(--text-color);
}

.button {
  background-color: var(--button-color);
  color: var(--text-color);
}

.button:hover {
  background-color: var(--button-hover-color);
  color: var(--text-color);
}

.button-outline {
  border: 2px solid var(--button-color);
  color: var(--button-color);
}

.button-outline:hover {
  background-color: var(--button-color);
  color: var(--text-color);
}
